TinyMessengerClient/TinyMessengerClient/Service References/MessengerService/TinyMessengerService.MessengerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TinyMessengerService.MessengerService" elementFormDefault="qualified" targetNamespace="http://TinyMessengerService.MessengerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="message" nillable="true" type="q1:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="user" nillable="true" type="q2:UserModel" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chatId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMyChats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="user" nillable="true" type="q4:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMyFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="user" nillable="true" type="q5:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="chat" nillable="true" type="q6:ChatModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="user" nillable="true" type="q7:UserModel" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="message" nillable="true" type="q8:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserEnterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="user" nillable="true" type="q9:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="user" nillable="true" type="q10:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="chat" nillable="true" type="q11:ChatModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMyChatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="chats" nillable="true" type="q12:ArrayOfChatModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMyFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="friends" nillable="true" type="q13:ArrayOfUserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TinyMessenger.Model.Service" minOccurs="0" name="chat" nillable="true" type="q14:ChatModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>